#menu{
    width: 100%;
    height: auto;
}
#top{
    width: 1903px;
    height:400px;
    margin-top: 95px;
    padding-top: 40px;
    background-color: #f5f5f5;
    border-top:1px solid #ccc;
}
#context{
    /* width: 1202px; */
    height: 340px;
    margin: 0 auto;
    margin-left: 1%;
}
#leftbox{
    width: 830px;
    height: 340px;
    float: left;
    background-color: white;
}
#rightbox{
    width: 350px;
    height: 340px;
    float: left;
    margin-left: 20px;
    background-color: white;
}
#leftbox h2{
    width: 790px;
    height: 80px;
    margin: 0 auto;
    line-height: 5.5;
    border-bottom: 1px solid #CCCCCC;
}
#first{
    width: 1202px;
    height: auto;
    margin-top: 70px;
}
#second{
    width: 1202px;
    height: auto;
}
#second ul li{
    width: 260px;
    height: 30px;
    float: left;
    font-size: 12px;
}
#second ul li span{
    color: #9e9e9e;
    font-size: 12px;
}
#third{
    width: 1202px;
    height: auto;
    margin-top: 50px;
}
#third ul li{
    height: 49px;
}
#third ul li h3{
    font-size: 16px;
}
#third ul li p{
    font-size: 14px;
    color: #9e9e9e;
}