.clearfix {
    zoom: 1;
    display: block;
}

.layout {
    width: 1202px;
    height: auto;
    margin: 0 auto;
}

.memberLeft {
    float: left;
    width: 220px;
    background-color: #f3f4f8;
}

.memberLeft .userInfo {
    text-align: center;
    padding: 45px 0px 23px 0px;
    height: 165px;
}

.userInfo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.memberLeft .userInfo p {
    font-size: 14px;
    font-weight: bold;
}

.level0 {
    width: 50px;
    height: 10px;
    right: 18px;
    background-repeat: no-repeat;

}

.level {
    position: absolute;
    display: block;
    background-position: center top;
    top: 30px;
    cursor: pointer;
}

a {
    color: #555;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}

input {
    padding: 10px 14px;
    border: 1px solid #e3e3e3;
}

button, input, select, textarea {
    font: inherit;
    margin: 0px;

}

input[type="hidden"] {
    display: none;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.memberLeft .userInfo .e.unbind {
    background-position: -105px -40px;
}

.memberLeft .userInfo .icon_btn {
   /* background-image: url(../image/renzheng2.png);*/
    /*    background-image: -webkit-image-set(url(../image/renzheng2.png) 1x, url(../img/center/renzheng2.png) 2x);
        background-image: -ms-image-set(url(../img/center/renzheng.png) 1x, url(../img/center/renzheng2.png) 2x);
        background-image: -moz-image-set(url(../img/center/renzheng.png) 1x, url(../img/center/renzheng2.png) 2x);
        background-image: -o-image-set(url(../img/center/renzheng.png) 1x, url(../img/center/renzheng2.png) 2x);*/
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    width: 28px;
    margin: 0 2px;
}

.userInfo .tip_info {
    text-align: left;
    z-index: 8;
    width: 148px;
    height: 42px;
    background-image: url(../image/tip_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    white-space: nowrap;
    left: -22px;
    top: -40px;
    line-height: 32px;
    padding-left: 13px;
    color: #ca7456;
    display: none;
}

.memberLeft .userInfo .a.unbind {
    background-position: 0 -40px;
}

.memberLeft .userInfo .b.unbind {
    background-position: -35px -40px;
}

.memberLeft .userInfo .c.hasbind {
    background-position: -70px 0;
}
.memberLeft .userInfo .d.unbind {
    background-position: -140px -40px;
}

.mNav {
    float: left;
    width: 100%;
    margin-top: 6px;
}