*{margin: 0; padding: 0;}

/* 网页头部样式 */
#header{
    width: 100%;
    height: 65px;
}
.h-logo{
    line-height: 61px;
    margin-left: 15%;
}
.h-logo img{
    margin-top: 15px;
    margin-bottom: 24px;
}
.h-logo em{
    display: inline-block;
    margin-left: 20px;
    color: #bdbdbd;
    font-style: normal;
}
.h-logo a{
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    margin-left: 12px;
    color: #212121;
}


/* 网页主体样式 */
#content{
    width: 100%;
    height: 600px;
    position: relative;
    background: url("../images/bgiregister.jpg") no-repeat;
    background-size: 100% 600px;
}
.c-con{
    width: 380px;
    height: 500px;
    position: absolute;
    left: 39%; top: 8%;
    background: hsla(0,0%,100%,0.6);
}
.c-con .c-one input{
    width: 330px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(117, 76, 203, 0);
    border-top: thin;
    border-right: thin;
    border-left: thin;
    border-bottom: 1px solid silver;
}
.c-con .c-two input{
    width: 180px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(117, 76, 203, 0);
    border-top: thin;
    border-right: thin;
    border-left: thin;
    border-bottom: 1px solid silver;
}
.c-con .c-two .c-two-tp{
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    background: url("../images/yzm.jfif") no-repeat;
}
.c-con .c-three input{
    width: 180px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(117, 76, 203, 0);
    border-top: thin;
    border-right: thin;
    border-left: thin;
    border-bottom: 1px solid silver;
}
.c-con .c-three button{
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
     color: brown;
    background-color: #b1b0c2bc;
}
.c-con .c-four label{
    margin-left: 25px;
    margin-top: 30px;
    font-size: 15px;
}
.c-con .c-four input{
    width: 330px;
    height: 40px;
    margin-left: 25px;
    margin-top: 0px;
    font-size: 18px;
    background-color: rgba(117, 76, 203, 0);
    border-top: thin;
    border-right: thin;
    border-left: thin;
    border-bottom: 1px solid silver;
}
.c-con .c-five label{
    margin-left: 25px;
    margin-top: 20px;
}
.c-con .c-six button{
    width: 330px;
    height: 40px;
    margin-left: 25px;
    margin-top: 12px;
    font-size: 18px;
     background-color: oldlace;
}
.c-seven p{
    margin-left: 60%;
    margin-top: 12px;
    font-size: 15px;
}

/* 网页底部样式 */
#footer{
    width: 100%;
    height: 150px;
}
.guanyu{
    width: 100%;
    height: 70px;
}
.guanyu p{
    padding-top: 45px;
    text-align: center;
    font-size: 17px;
    color: black;
    cursor: pointer;
}
.guanyu span{
    margin-left: 10px;
    margin-right: 10px;
}
.beizhu{
    width: 100%;
    height: 30px;
}
.beizhu p{
    text-align: center;
    font-size: 15px;
    color: silver;
    margin-top: 30px;
}