@charset "utf-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,form,p,h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
}

img,input,button,select {
	vertical-align: middle;
}

ul,li {
	list-style: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #a605c1;
	text-decoration: underline;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0px;
	font-size: 0px;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

input {
	border: 1px solid #cfcfcf;
}

.wrap-top-bg,.wrap-bottom-bg,.wrap-center {
	/*background-image:url(../images/main-bg.png);*/
	background-image: url(../images/main-bg.png);
}

.wrap-top-bg {
	background-position: 0 top;
	background-repeat: no-repeat;
}

.wrap-bottom-bg {
	background-position: -1532px bottom;
	background-repeat: no-repeat;
	padding: 1px;
}

.wrap-center {
	width: 766px;
	margin: 0px auto;
	background-position: -766px 0;
	background-repeat: repeat-y;
}

.main-top {
	position: relative;
	height: 86px;
}

.logo {
	position: absolute;
	width: 240px;
	height: 50px;
	left: 20px;
	top: 20px;
	background: url(../images/logo.png);
}

.logo a span {
	display: none;
}

.login-box {
	width: 450px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.login-box input {
	width: 104px;
}

.login-box label {
	margin: 0px 10px;
}

.login-box button {
	width: 50px;
	height: 21px;
	background-image: url(../images/ico-bg.png);
	background-position: 0px -40px;
	border-width: 0px;
	color: #FFF;
	margin-left: 5px;
}

.nav {
	position: absolute;
	width: 496px;
	height: 30px;
	right: 2px;
	bottom: 0px;
}

.nav ul li {
	float: left;
	width: 94px;
	height: 30px;
	background-image: url(../images/ico-bg.png);
	background-position: 0 0;
	margin-left: 3px;
}

.nav ul li a {
	display: block;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
}
/*banner*/
.main-banner {
	width: 764px;
	height: 199px;
	border-top: 1px solid #e7f9f3;
	border-bottom: 1px solid #e7f9f3;
}

/*页码*/
.page-bar {
	position: relative;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

.page-num-ul li {
	float: left;
}

.page-num-ul li a {
	display: inline-block;
	padding: 3px 5px;
	margin: 0px 3px;
	border: 1px solid #b8b8b8;
}

.page-num-ul a:hover,.page-num-ul .thisclass {
	border: 1px solid #00925d;
	background-color: #00925d;
	color: #FFF;
	text-decoration: none;
}

.page-key {
	width: 50px;
}

.page-btn {
	border: 1px solid #b8b8b8;
	background-color: #fafffd;
	display: inline-block;
	width: 52px;
	height: 25px;
	line-height: 25px;
	font-weight: 20px;
}

.page-go-form {
	position: absolute;
	display: inline-block;
	right: 50px;
	top: 0px;
}

.page-go-form input,label,button {
	margin: 0px 5px;
}

.link-text-ul li {
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-image: url(../images/ico-bg.png);
	background-position: 0px -190px;
	background-repeat: no-repeat;
}

.link-text-ul li a {
	display: block;
	font-size: 14px;
	padding-left: 15px;
}